# .NET
bin/
obj/
*.user
*.suo
*.userprefs
[Nn]u[Gg]et/
*.nupkg
packages/
.vs/
.vscode/
.idea/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
_ReSharper.*
*.ReSharper
local.settings.json
[Tt]est[Rr]esults/
*.trx
[Dd]ebug/
[Rr]elease/
x64/
x86/
.project
.jsproj
.publishproj
.pubxml
*.swp
*.swo
.DS_Store
node_modules/
npm-debug.log
*.dll
*.pdb
*.exe
*.cache
*.ilk
*.meta
logs/
*.log
*.tlog
*.sln.docstates
.env
.env.local